
@section content{

<div class="jumbotron">
    <h1 class="display-4">Welcome to Web Tugas 1</h1>
    <p class="lead">this is a simple web for tugas 1</p>
    <hr class="my-4">
    <p>Created By Muhammad Andika Kurniawan</p>
</div>

}
